@model IEnumerable<HrbiApp.Web.Models.LabBooking.LabBookingListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PatintName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceNameAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceNameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFromHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PatintName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceNameAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceNameEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFromHome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Status == Consts.New)
                    {
                        <div>
                            <button type="button" class="btn btn-primary showModal" data-toggle="modal" data-target="#exampleModal" data-id="@item.ID">
                                Accept
                            </button>
                            @Html.ActionLink("Accept", "Accept", new { bookingID = item.ID, visitTime = DateTime.Now }) |
                            @Html.ActionLink("Reject", "Reject", new { bookingID = item.ID })
                        </div>
                    }
                    else if (item.Status == Consts.Accepted)
                        @Html.ActionLink("MakeDone", "MakeDone", new { bookingID=item.ID })



                    </td>
                </tr>
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Accept">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set Visiting Time</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="datetime-local" name="visitTime" />
                    <input type="hidden" name="bookingID" id="bookingID" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Accept</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on("click", ".showModal", function () {
            $('#bookingID').val($(this).data('id'))
            $('#exampleModal').modal('show');
        })
    </script>
}