@model IEnumerable<HrbiApp.Web.Models.NurseServices.NurseServicesListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceNameAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceNameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceNameAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceNameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.ActionLink("Update", "Update", new { serviceId=item.ID }) |
                    @if (item.Status == Consts.Active)
                    {
                        @Html.ActionLink("DeActivate", "DeActivateService", new { serviceId=item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "ActivateService", new { serviceId=item.ID })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
