@model IEnumerable<HrbiApp.Web.Models.Settings.BankAccountListModel>

@{
    ViewData["Title"] = "Index";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i> @Localizer["BankAccounts"]</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title"> <p><a class="btn btn-primary icon-btn" asp-action="CreateBankAccount"><i class="fa fa-plus"></i>@Localizer["Add"]	</a></p></h3>
            </div>
            <div class="tile-body">

                <table class="table dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BankName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountNumber)
                            </th>
                            <th>@Localizer["Control"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BankName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.AccountNumber)
                                </td>
                                <td>
                                    @Html.ActionLink(Localizer["Update"].Value, "UpdateBankAccount", new { accountID=item.ID })|
                                    @Html.ActionLink(Localizer["Delete"].Value, "DeleteBanckAccount", new { accountID=item.ID })

                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>