@model HrbiApp.Web.Models.Doctors.DoctorDetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i> @Model.Name</h1>

    </div>

</div>
<div class="row user">

    
    <div class="col-md-3">
        <div class="tab-content">
            <div class="tab-pane active" id="user-timeline">
                <div class="timeline-post">
                   
                    <div class="post-content">
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.Phone</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.Price</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.Status</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.Address</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.OpenTime</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.CloseTime</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.PositionNameAR</td>

                                </tr>

                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.PositionNameEN</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.SpecializationNameAR</td>
                                </tr>
                                <tr>
                                    <td>@HrbiApp.Web.Resource.ResourceAr.Phone</td>
                                    <td>@Model.SpecializationNameEN</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>

    

    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="user-timeline">
                <div class="timeline-post">
                    <div class="post-media">
                        <a href="#"></a>
                        <div class="content">
                            <h5>@HrbiApp.Web.Resource.ResourceAr.Payments</h5>

                        </div>
                    </div>
                    <div class="post-content">
                        <partial name="_DoctorPayments.cshtml" model="Model.Payments" />
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div style="text-align:left">
    <a asp-action="Index">
        <button class="btn btn-outline-secondary" type="button">
            @HrbiApp.Web.Resource.ResourceAr.Back<i class="fa fa-share" aria-hidden="true"></i>
        </button>
    </a>
</div>
