@model IEnumerable<HrbiApp.Web.Models.Specializations.SpecializationsListModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.NameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.NameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @Html.ActionLink("Update", "Update", new { specializationID=item.ID }) |
                    @if (item.Status == Consts.Active)
                    {
                        @Html.ActionLink("DeActivate", "DeActivate", new { specializationID=item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "Activate", new { specializationID=item.ID })
                    }
            </td>
        </tr>
}
    </tbody>
</table>
