@model HrbiApp.Web.Models.Reports.NurseReport
@{
    ViewData["Title"] = "Index";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i> @HrbiApp.Web.Resource.ResourceAr.NurseReport</h1>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">


                <div class="col-md-12">
                    <form asp-action="NurseReport">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-6 control-label">@HrbiApp.Web.Resource.ResourceAr.NurseName</label>
                                <select class="col-6 form-control" name="nurseID" asp-items="@ViewData["Nurses"] as IEnumerable<SelectListItem>">
                                </select>
                            </div>

                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="@HrbiApp.Web.Resource.ResourceAr.Generate" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-title-w-btn">

                    <h3 class="title"> <p>@Model.NurseName</p></h3>
                </div>
                <div class="tile-body">
                    <table class="table dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @HrbiApp.Web.Resource.ResourceAr.VisitTime
                                </th>
                                <th>
                                    @HrbiApp.Web.Resource.ResourceAr.PatintName
                                </th>
                                <th>
                                    @HrbiApp.Web.Resource.ResourceAr.PatintPhone
                                </th>
                                <th>
                                    @HrbiApp.Web.Resource.ResourceAr.ServiceName
                                </th>
                                <th>
                                    @HrbiApp.Web.Resource.ResourceAr.Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NurseBookings)
                            {
                                <tr>
                                    <td>@item.VisitTime</td>
                                    <td>@item.PatientName</td>
                                    <td>@item.PatientPhone</td>
                                    <td>@item.ServiceNameAR</td>
                                    <td>@item.Price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
